.book-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: 250px;
}
.book-card img {
  width: 240px;
  height: 300px;
}
/* .book-card p {
  text-align: center;
  margin: 5px 0;
} */
#display-book {
  display: flex;
  flex-wrap: wrap;
}
#no-result {
  font-size: 2em;
  color: red;
  display: none;
}
